.cf7blocks-form-template-block {

	.cf7blocks-form-template__grid {
		display: grid;
		grid-gap: 10px;
		width: 100%;
		grid-template-columns: 1fr 1fr;

		& > div {
			width: 100%;

			.cf7blocks-form-template {
				padding: 30px;
				gap: 10px;
				width: 100%;
			}
		}
	}

}
