<div>
  <link href="./header.css" rel="stylesheet" />
  <div class="header-header">
    <div class="header-heading">
      <div id="notifcation" class="header-notification">
        <a href="index.html">
          <div class="announcement-announcement announcement-root-class-name">
            <span class="announcement-title">
              <span>We updated our Terms and Conditions.</span>
            </span>
            <div class="announcement-button">
              <span class="announcement-button-text">
                <span>See now -></span>
              </span>
            </div>
          </div>
        </a>
      </div>
      <nav class="navbar-navbar">
        <div class="navbar-desktop">
          <div class="navbar-main">
            <div class="navbar-branding">
              <div class="navbar-container">
                <img
                  alt="image"
                  src="/playground_assets/cf7blocks.svg"
                  class="navbar-image"
                />
                <span class="navbar-text"><span>CF7 Blocks</span></span>
              </div>
            </div>
            <a
              href="https://cf7blocks.substack.com/"
              target="_blank"
              rel="noreferrer noopener"
              class="navbar-link link"
            >
              <span>Subscribe</span>
            </a>
          </div>
        </div>
      </nav>
    </div>
    <div class="header-hero">
      <div class="header-content">
        <h1 class="header-title">
          <span>
            Easily create professional contact forms with Contact Form 7 Visual
            Builder
          </span>
        </h1>
        <span class="header-caption">
          <span>
            Say goodbye to complicated coding and hello to intuitive design with
            Contact Form 7 Visual Builder.
          </span>
        </span>
        <div class="header-hero-buttons">
          <div class="header-i-o-s-btn">
            <span class="header-caption1"><span>Try Now - its Free</span></span>
          </div>
        </div>
      </div>
      <img
        alt="image"
        src="/playground_assets/screenshot_2022-12-17_at_4.31.19_pm-1500h.png"
        class="header-image"
      />
    </div>
  </div>
</div>
