<div>
  <link href="./navbar.css" rel="stylesheet" />
  <nav class="navbar-navbar">
    <div class="navbar-desktop">
      <div class="navbar-main">
        <div class="navbar-branding">
          <div class="navbar-container">
            <img
              alt="image"
              src="/playground_assets/cf7blocks.svg"
              class="navbar-image"
            />
            <span class="navbar-text"><span>CF7 Blocks</span></span>
          </div>
        </div>
        <a
          href="https://cf7blocks.substack.com/"
          target="_blank"
          rel="noreferrer noopener"
          class="navbar-link link"
        >
          <span>Subscribe</span>
        </a>
      </div>
    </div>
  </nav>
</div>
