<div>
  <link href="./quote.css" rel="stylesheet" />
  <div class="quote-quote">
    <div class="quote-quote1">
      <span class="quote-quote2">
        <span>
          “I love lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna aliquaation
          ullamco 100%."
        </span>
      </span>
    </div>
    <div class="quote-people">
      <div class="quote-person">
        <img
          alt="person-avatar"
          src="/playground_assets/pastedimage-8jmb-200w.png"
          class="quote-avatar"
        />
        <div class="quote-person-details">
          <span id="quote-author" class="quote-text">
            <span>Andy Smith</span>
          </span>
          <span id="quote-title"><span>Manager @Vista Social</span></span>
        </div>
      </div>
    </div>
  </div>
</div>
